<% content_for :title do %>Reserbus Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="redirects" data-view="Number" data-title="Redirecciones" data-moreinfo="redirecciones que llevamos hoy!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-id="mobilevsdesktop" data-view="Compare" data-title="Web vs Web Mobile" data-moreinfo="Compras en Web Vs. Compras en Web Mobile">
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="more_redirected" data-view="Number"  data-moreinfo="Linea mas redireccionada el dia de hoy"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sales" data-view="Number" data-title="Ventas del dia" data-moreinfo="ventas del dia!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-id="chuck" data-view="Text" data-title="Team Facts" data-moreinfo="Team Member Facts.">
    </li>

  </ul>
</div>
